## Praktikum 3
Install hnswlib terlebih dahulu.

In [ ]:
!pip install hnswlib

Collecting hnswlib
  Downloading hnswlib-0.8.0.tar.gz (36 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from hnswlib) (2.0.2)
Building wheels for collected packages: hnswlib
  Building wheel for hnswlib (pyproject.toml) ... done
  Created wheel for hnswlib: filename=hnswlib-0.8.0-cp312-cp312-linux_x86_64.whl size=2528146 sha256=e1295a4501c419bb441a7b42d13418507271e5530178f2b3e0b13c9b2bb03490
  Stored in directory: /root/.cache/pip/wheels/ac/39/b3/cbd7f9cbb76501d2d5fbc84956e70d0b94e788aac87bda465e
Successfully built hnswlib
Installing collected packages: hnswlib
Successfully installed hnswlib-0.8.0

Percobaan berikut akan membandingkan exact NN dengan HNSW pada 1000 data 2D.

In [ ]:
import hnswlib
import numpy as np
import time
from sklearn.neighbors import NearestNeighbors

# ===========================
# 1. Buat data 2D acak
# ===========================
num_elements = 1000
dim = 2
data = np.random.random((num_elements, dim)).astype(np.float32)

# Query point
query = np.array([[0.5, 0.5]], dtype=np.float32)
k = 5  # cari 5 tetangga terdekat

# ===========================
# 2. Exact NN (Brute Force)
# ===========================
nn = NearestNeighbors(n_neighbors=k, algorithm='brute', metric='euclidean')
nn.fit(data)

start = time.time()
distances, indices = nn.kneighbors(query)
end = time.time()

print("=== Exact NN ===")
print("Indices:", indices)
print("Distances:", distances)
print("Waktu:", end - start, "detik")

# ===========================
# 3. HNSW
# ===========================
# Inisialisasi index HNSW
p = hnswlib.Index(space='l2', dim=dim)

# Ukuran maksimum elemen yang bisa ditampung
p.init_index(max_elements=num_elements, ef_construction=100, M=16)

# Tambahkan data
p.add_items(data)

# Set parameter pencarian
p.set_ef(50)   # tradeoff speed vs accuracy

start = time.time()
labels, distances = p.knn_query(query, k=k)
end = time.time()

print("\n=== HNSW ===")
print("Indices:", labels)
print("Distances:", distances)
print("Waktu:", end - start, "detik")

=== Exact NN ===
Indices: [[993 964 788 528  16]]
Distances: [[0.01145547 0.02310762 0.0234505  0.02675764 0.0279675 ]]
Waktu: 0.06568241119384766 detik

=== HNSW ===
Indices: [[993 964 788 528  16]]
Distances: [[0.00013123 0.00053396 0.00054993 0.00071597 0.00078218]]
Waktu: 0.00023293495178222656 detik

Lakukan percobaan pada metric distance yang berbeda, 1000 vs 1jt data, 2D vs 5D data. catat hasilnya pada tabel yang anda buat sendiri seperti pada praktikum 1.

In [ ]:
# ==========================================================
# Percobaan HNSW: Perbandingan Exact NN vs HNSW
# ==========================================================
!pip install hnswlib scikit-learn pandas

import hnswlib
import numpy as np
import time
import pandas as pd
from sklearn.neighbors import NearestNeighbors

# ----------------------------------------------------------
# Fungsi Percobaan
# ----------------------------------------------------------
def run_experiment(metric='l2', n_data=1000, dim=2):
    np.random.seed(42)
    data = np.random.random((n_data, dim)).astype(np.float32)
    query = np.random.random((1, dim)).astype(np.float32)
    k = 5  # jumlah tetangga terdekat

    # -------------------------
    # Exact NN (Brute Force)
    # -------------------------
    nn = NearestNeighbors(n_neighbors=k, algorithm='brute',
                          metric='euclidean' if metric == 'l2' else 'cosine')
    nn.fit(data)
    start = time.time()
    distances_exact, indices_exact = nn.kneighbors(query)
    exact_time = time.time() - start

    # -------------------------
    # HNSW ANN
    # -------------------------
    p = hnswlib.Index(space=metric, dim=dim)
    p.init_index(max_elements=n_data, ef_construction=100, M=16)
    p.add_items(data)
    p.set_ef(50)

    start = time.time()
    labels, distances_hnsw = p.knn_query(query, k=k)
    ann_time = time.time() - start

    # -------------------------
    # Return hasil
    # -------------------------
    return {
        "Distance Metric": "Euclidean" if metric == 'l2' else "Cosine",
        "Dimensi": dim,
        "Jumlah Data": f"{n_data:,}",
        "Index ENN vs HNSW": f"{list(indices_exact[0])}, {list(labels[0])}",
        "Waktu (s)": f"{round(exact_time, 6)} , {round(ann_time, 6)}"
    }

# ----------------------------------------------------------
# Jalankan kombinasi percobaan
# ----------------------------------------------------------
configs = [
    ('l2', 1000, 2),
    ('l2', 1_000_000, 2),
    ('l2', 1000, 5),
    ('l2', 1_000_000, 5),
    ('cosine', 1000, 2),
    ('cosine', 1_000_000, 2),
    ('cosine', 1000, 5),
    ('cosine', 1_000_000, 5),
]

results = []
for metric, n_data, dim in configs:
    print(f"Menjalankan: metric={metric} | data={n_data} | dim={dim}")
    results.append(run_experiment(metric, n_data, dim))

# ----------------------------------------------------------
# Buat tabel hasil seperti praktikum 1
# ----------------------------------------------------------
df = pd.DataFrame(results)
df.style.set_properties(**{'text-align': 'center'}).set_table_styles([
    {'selector': 'th', 'props': [('text-align', 'center')]}
])

Requirement already satisfied: hnswlib in /usr/local/lib/python3.12/dist-packages (0.8.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from hnswlib) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Menjalankan: metric=l2 | data=1000 | dim=2
Menjalankan: metric=l2 | data=1000000 | dim=2
Menjalankan: metric=l2 | data=1000 | dim=5
Menjalankan: metric=l2 | data=1000000 | dim=5
Menjalankan: metric=cosine | data=1000 | dim=2
Menjalankan: metric=cosine | data=1000000 | dim=2
Menjalankan: metric=cosine | data=1000 | dim=5
Menjalankan: metric=cosine | data=1000000 | dim=5